@keyframes colorRotate {
  from {
    color: #0067fb;
  }
  33% {
    color: #10d100;
  }
  66% {
    color: #ff003d;
  }
  100% {
    color: #0067fb;
  }
}
body {
  font-family: inter, "sans-serif";
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 88.5rem;
  margin-inline: auto;
  gap: 1rem;
  margin-bottom: 6.25rem;
}
.cardsContainer > * {
  flex: 1;
}

@media screen and (max-width: 990px) and (min-width: 971px) {
  .cardsContainer > * {
    min-width: 18.75rem;
  }
}
@media screen and (max-width: 970px) and (min-width: 768px) {
  .cardsContainer > * {
    min-width: 21.875rem;
  }
}
@media screen and (max-width: 767px) {
  .cardsContainer > * {
    min-width: 100%;
  }
}
.cta-card {
  background-color: #f7f7f8;
  height: 100%;
  border-radius: calc(1rem - 2px);
  overflow: hidden;
  cursor: pointer;
}
.cta-card__contents {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.25s ease;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15%;
}
.cta-card__contents > * {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.25s ease;
}
.cta-card__contents > * > * {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.25s ease;
}
.cta-card__contents > .badge {
  text-transform: uppercase;
  font-variation-settings: "wght" 700;
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 4px;
  display: inline-flex;
  letter-spacing: 0.05em;
  vertical-align: middle;
  line-height: 1em;
  white-space: nowrap;
  text-decoration: none;
  margin-left: 10px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.cta-card__contents > .badge--orange {
  background-color: #fff2e7;
  color: #cc660a;
}
.cta-card__contents > .badge--pink {
  background-color: #ffe5f4;
  color: #cc0078;
}
.cta-card__contents > .badge--violet {
  background-color: #e8e2f7;
  color: #722ac5;
}
.cta-card__contents > * {
  text-align: center;
}
.cta-card__contents__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1.25rem;
  height: 3rem;
  display: grid;
  place-items: center;
}
.cta-card__contents__paragraph {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7em;
  color: rgb(70, 72, 83);
}
.cta-card__contents__image {
  height: 3.125rem;
  width: 2.625rem;
  margin-bottom: 1.875rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cta-card__contents[logo=apple] > .cta-card__contents__image {
  background-image: url("icons/Apple.svg");
}
.cta-card__contents[logo=android] > .cta-card__contents__image {
  background-image: url("icons/android.svg");
}
.cta-card__contents[logo=figma] > .cta-card__contents__image {
  background-image: url("icons/figma.svg");
}
.cta-card__contents[logo=chrome] > .cta-card__contents__image {
  background-image: url("icons/chrome.svg");
}
.cta-card__contents[logo=adobe] > .cta-card__contents__image {
  background-image: url("icons/adobe.svg");
}
.cta-card__contents[color=cyan] > .cta-card__contents__cta {
  color: #00AEE5;
}
.cta-card__contents:hover[color=cyan] {
  background-color: #D8F6FF;
}
.cta-card__contents[color=green] > .cta-card__contents__cta {
  color: #14B789;
}
.cta-card__contents:hover[color=green] {
  background-color: #D5F8EF;
}
.cta-card__contents[color=magenta] > .cta-card__contents__cta {
  color: #E50087;
}
.cta-card__contents:hover[color=magenta] {
  background-color: #FFE5F4;
}
.cta-card__contents[color=purple] > .cta-card__contents__cta {
  color: #802FDE;
}
.cta-card__contents:hover[color=purple] {
  background-color: #E8E2F7;
}
.cta-card__contents[color=yellow] > .cta-card__contents__cta {
  color: #DAAB00;
}
.cta-card__contents:hover[color=yellow] {
  background-color: #FDF3CE;
}
.cta-card__contents__cta {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 2.625rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  transform: translateY(100%);
  opacity: 0;
}
.cta-card__contents:hover > * {
  opacity: 0;
}
.cta-card__contents:hover > .cta-card__contents__cta {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  width: 100%;
  background-color: #f7f7f8;
  display: flex;
  justify-content: center;
}
.footer__container {
  margin: auto;
  max-width: 1500px;
  width: 100%;
  padding-inline: 2rem;
}
.footer__container__links {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.footer__container__links__column {
  display: grid;
  list-style: none;
}
.footer__container__links__column__item {
  width: max-content;
}
.footer__container__links__column__item--title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 1.375rem;
  line-height: 1.375rem;
}
.footer__container__links__column__item--paragraph {
  font-size: 1rem;
  line-height: 1rem;
  color: black;
  margin-bottom: 0.95rem;
}
.footer__container__links__column__item--paragraph:hover {
  color: #0066ff;
}
.footer__container__credits {
  height: 6.875rem;
  display: flex;
  align-items: center;
}
.footer__container__credits__creator {
  color: #636369;
  font-size: 13px;
  font-weight: 500;
}
.footer__container__credits__creator > a {
  font-size: 15px;
  color: black;
  transition: 0.1s ease;
}
.footer__container__credits__creator > a:hover {
  text-decoration: underline;
  color: #0066ff;
}
.footer__container__credits__socials {
  display: flex;
  gap: 1rem;
}
.footer__container__credits__socials > * {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__container__credits__charityWebsite {
  height: 2rem;
  margin-left: auto;
  margin-right: 3rem;
}
.footer__container > hr {
  margin-top: 3rem;
  border-top: none;
  border-color: rgba(0, 0, 0, 0.075);
}

@media screen and (max-width: 900px) {
  .footer__container__links {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__container__credits {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30%);
    align-content: center;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .footer__container__credits__charityWebsite {
    margin: auto;
  }
  .footer__container__credits__socials {
    margin: auto;
  }
  .footer__container__credits__creator {
    text-align: center;
    padding: 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .footer__container__links {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
  }
  .footer__container__credits {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 30%);
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .footer__container__credits__charityWebsite {
    margin: auto;
  }
  .footer__container__credits__socials {
    margin: auto;
  }
}
.nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0.0625rem;
  font-size: 0.938rem;
  line-height: 0.938rem;
  color: black;
  font-variation-settings: "wght" 500;
}
.nav .nav-hamberger-mobile {
  display: none;
}
.nav__logo {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.nav--generator .nav__items__list__item {
  padding-inline: 0.75rem;
}
.nav--generator .nav__items__list__item a {
  display: flex;
  gap: 10px;
}
.nav--generator .nav__items__list__item img {
  width: 18px;
}
.nav--generator .nav__items__list__item:hover {
  color: black;
  background-color: #f2f2f3;
}
.nav__items {
  display: flex;
  align-items: center;
}
.nav__items__list {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  border-right: 1px solid rgba(0, 0, 0, 0.075);
  height: 0.4rem;
}
.nav__items__list__point {
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.nav__items__list:last-child {
  border-right: none;
}
.nav__items__list__item {
  width: max-content;
  position: relative z-index -1;
  cursor: pointer;
  border-radius: 0.625rem;
  height: 2.2rem;
  padding-inline: 0.75rem;
  display: flex;
  align-items: center;
}
.nav__items__list__item--big-menu, .nav__items__list__item--small-menu {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  height: auto;
  width: auto;
}
.nav__items__list__item--big-menu:hover, .nav__items__list__item--small-menu:hover {
  height: 3rem;
}
.nav__items__list__item--big-menu:hover .popupMenu, .nav__items__list__item--small-menu:hover .popupMenu {
  display: flex !important;
  right: 0;
  top: 3rem;
}
.nav__items__list__item--animated {
  color: #FF0099;
}
.nav__items__list__item--animated:hover {
  animation: colorRotate 3s infinite;
}
.nav__items__list__item > a {
  display: flex;
  align-items: center;
}
.nav__items__list__item > a > svg {
  display: block;
  height: 1rem;
  width: 1rem;
}
.nav__items__list__item:hover {
  color: #0066ff;
}
.nav .popupMenu {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 99;
}

.tippy-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  font-size: 12px;
}

.tippy-color2 {
  color: gray;
}

.tippy-box {
  background-color: black;
}

@media screen and (max-width: 1100px) {
  .nav--generator .nav__logo {
    display: none;
  }
}
@media screen and (max-width: 875px) {
  .nav--generator .nav__logo {
    display: none;
  }
}
.small-menu {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgba(0, 0, 0, 0.12) 0 15px 30px 0px;
  border-radius: 10px;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  max-height: 164px;
  max-width: 331px;
}
.small-menu * {
  white-space: nowrap;
}
.small-menu a {
  text-decoration: none;
}
.small-menu ul {
  list-style: none;
  padding-left: 0;
}
.small-menu a {
  padding: 10px 14px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-right: 30px;
}
.small-menu a div span:first-child {
  color: black;
  font-weight: 700;
  font-size: 3.125rem;
  font-variation-settings: "wght" 760;
  display: block;
  margin-bottom: 6px;
  transition: color 0.1s ease-in-out;
  font-size: 18px;
  letter-spacing: -0.03em;
}
.small-menu a div span:last-child {
  color: #7d7c83;
  display: block;
  font-size: 14px;
  transition: color 0.1s ease-in-out;
}
.small-menu a img {
  min-width: 28px;
  max-width: 28px;
  margin-right: 15px;
}
.small-menu--left {
  padding: 10px;
  text-align: left;
}
.small-menu--left ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
}
.small-menu--left ul li {
  position: relative;
  z-index: 1;
  flex-grow: 1;
}
.small-menu--left ul li:nth-child(1):hover a {
  background-color: #E9FCF6;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.small-menu--left ul li:nth-child(1):hover a div span:first-child {
  color: #14b789;
}
.small-menu--left ul li:nth-child(1):hover a div span:last-child {
  color: #000000;
}
.small-menu--left ul li:nth-child(2):hover a {
  background-color: #F2F7FF;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.small-menu--left ul li:nth-child(2):hover a div span:first-child {
  color: #0066ff;
}
.small-menu--left ul li:nth-child(2):hover a div span:last-child {
  color: #000000;
}

.big-menu {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgba(0, 0, 0, 0.12) 0 15px 30px 0px;
  border-radius: 10px;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  max-height: 462px;
  max-width: 665px;
}
.big-menu * {
  white-space: nowrap;
}
.big-menu a {
  text-decoration: none;
}
.big-menu ul {
  list-style: none;
  padding-left: 0;
}
.big-menu .badge {
  text-transform: uppercase;
  font-variation-settings: "wght" 700;
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 4px;
  display: inline-flex;
  letter-spacing: 0.05em;
  vertical-align: middle;
  line-height: 1em;
  white-space: nowrap;
  text-decoration: none;
  margin-left: 10px;
}
.big-menu .badge--orange {
  background-color: #fff2e7;
  color: #cc660a;
}
.big-menu .badge--pink {
  background-color: #ffe5f4;
  color: #cc0078;
}
.big-menu .badge--violet {
  background-color: #e8e2f7;
  color: #722ac5;
}
.big-menu--left {
  padding: 20px;
  text-align: left;
}
.big-menu--left ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
}
.big-menu--left ul li {
  position: relative;
  z-index: 1;
  flex-grow: 1;
}
.big-menu--left ul li:nth-child(1):hover a {
  background-color: #E9FCF6;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.big-menu--left ul li:nth-child(1):hover a div span:first-child {
  color: #14b789;
}
.big-menu--left ul li:nth-child(1):hover a div span:last-child {
  color: #000000;
}
.big-menu--left ul li:nth-child(2):hover a {
  background-color: #FFF2F9;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.big-menu--left ul li:nth-child(2):hover a div span:first-child {
  color: #e50087;
}
.big-menu--left ul li:nth-child(2):hover a div span:last-child {
  color: #000000;
}
.big-menu--left ul li:nth-child(3):hover a {
  background-color: #F2F7FF;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.big-menu--left ul li:nth-child(3):hover a div span:first-child {
  color: #0066ff;
}
.big-menu--left ul li:nth-child(3):hover a div span:last-child {
  color: #000000;
}
.big-menu--left ul li:nth-child(4):hover a {
  background-color: #FEF9E6;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.big-menu--left ul li:nth-child(4):hover a div span:first-child {
  color: #daab00;
}
.big-menu--left ul li:nth-child(4):hover a div span:last-child {
  color: #000000;
}
.big-menu--left ul li:nth-child(5):hover a {
  background-color: #f7f0fe;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
}
.big-menu--left ul li:nth-child(5):hover a div span:first-child {
  color: #802fde;
}
.big-menu--left ul li:nth-child(5):hover a div span:last-child {
  color: #000000;
}
.big-menu--left ul li a {
  padding: 10px 14px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-right: 30px;
}
.big-menu--left ul li a div span:first-child {
  color: black;
  font-weight: 700;
  font-size: 3.125rem;
  font-variation-settings: "wght" 760;
  display: block;
  margin-bottom: 6px;
  transition: color 0.1s ease-in-out;
  font-size: 22px;
  letter-spacing: -0.03em;
}
.big-menu--left ul li a div span:last-child {
  color: #7d7c83;
  display: block;
  font-size: 14px;
  transition: color 0.1s ease-in-out;
}
.big-menu--left ul li a img {
  min-width: 55px;
  max-width: 55px;
  margin-right: 15px;
}
.big-menu--right {
  background-color: #f7f7f8;
  padding: 30px;
  border-radius: 0 10px 10px 0;
}
.big-menu--right ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.big-menu--right ul li div {
  padding-top: 18px;
  text-transform: uppercase;
  font-variation-settings: "wght" 700;
  font-size: 12px;
  padding-bottom: 10px;
}
.big-menu--right ul li a {
  font-size: 15px;
  line-height: 15px;
  vertical-align: baseline;
  color: black;
  padding: 8px 0;
  display: inline-block;
  font-variation-settings: "wght" 450;
}
.big-menu--right ul li a:hover {
  color: #0066ff;
}
.big-menu--right ul li:last-child a {
  padding-bottom: 0;
}
.big-menu--right ul li:first-child {
  padding-top: 0;
}

.blue__button__small,
.blue__button__large,
.button__small,
.button__large {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.blue__button__small,
.blue__button__large {
  background-color: #0066ff;
}
.blue__button__small a,
.blue__button__large a {
  text-decoration: none;
  color: #ffffff;
}
.blue__button__small:hover,
.blue__button__large:hover {
  background-color: #005ce6;
}

.button__small,
.button__large {
  border: 0.06rem solid #f7f7f8;
  background-color: #ffffff;
  box-shadow: #d8d8da 0 0 0 1px;
}
.button__small a,
.button__large a {
  text-decoration: none;
  color: #000000;
}
.button__small:hover,
.button__large:hover {
  box-shadow: #b1b0b5 0 0 0 1px;
}

.blue__button__large,
.button__large {
  width: 15rem;
  height: 2.8rem;
}

.blue__button__small,
.button__small {
  width: 4rem;
  padding: 0rem 0.55rem;
}

.generator {
  display: flex;
  height: calc(100vh - 120px);
  overflow: hidden;
}
.generator__palette {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
  gap: 2rem;
  justify-content: space-between;
}
.generator__palette[hidden=true] > * {
  display: none;
}
.generator__palette[hidden=true] > * > * {
  display: none;
}
.generator__palette:hover[hidden=true] > *:not(.generator_color_multicompare) {
  display: none !important;
}
.generator__palette__addBar {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 3.125rem;
  color: black;
  z-index: 1;
}
.generator__palette__addBar--right {
  right: 0;
}
.generator__palette__addBar--right > .generator__palette__addBar__addButton {
  right: -50%;
  transform: translate(10%, -50%);
}
.generator__palette__addBar--left {
  left: 0;
}
.generator__palette__addBar--left > .generator__palette__addBar__addButton {
  left: -50%;
  transform: translate(10%, -50%);
}
.generator__palette__addBar:hover > .generator__palette__addBar__addButton {
  display: grid;
}
.generator__palette__addBar__addButton {
  display: none;
  height: 2.625rem;
  width: 2.625rem;
  background-color: white;
  border-radius: 50%;
  place-items: center;
  position: relative;
  top: 50%;
}
.generator__palette__addBar__addButton > span {
  font-size: 2rem;
  font-weight: 100;
  display: block;
  height: 70%;
  width: 70%;
  text-align: center;
  line-height: 70%;
  border-radius: 50%;
}
.generator__palette__addBar__addButton > span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.generator__palette:hover {
  justify-content: space-between;
}
.generator__palette:hover .generator_color_container {
  display: flex;
  height: 100vh;
  align-items: flex-end;
}
.generator__palette:hover .generator_color_container .generator_color_btns {
  display: flex;
}
.generator__palette .generator_color_multicompare {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch {
  width: 100%;
  line-height: 1;
  min-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch p {
  display: none;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch p + svg {
  display: none;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch:hover > p[dot] + svg {
  display: none;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch p[dot] + svg {
  display: block;
  position: absolute;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch:hover p {
  display: flex;
}
.generator__palette .generator_color {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.generator__palette .generator_color_hex {
  font-size: 30px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  white-space: nowrap;
  transform: scaleY(0.8) scaleX(0.8);
}
.generator__palette .generator_color_hex:hover {
  display: flex;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.1s;
  max-height: 40px;
  border-radius: 10px;
  padding-inline: 12px;
  background: rgba(0, 0, 0, 0.05);
}
.generator__palette .generator_color_color-info {
  opacity: 0.6;
  font-size: 11.2px;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  letter-spacing: 0.04em;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
}
.generator__palette .generator_color_container .generator_color_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-height: 200px;
  width: 40px;
  flex-direction: column;
  display: none;
}
.generator__palette .generator_color_container .generator_color_btns div {
  display: flex;
  flex-grow: 1;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.1s;
  max-height: 40px;
  border-radius: 10px;
  max-height: 30px;
  max-width: 40px;
  padding: 10px 12px;
}
.generator__palette .generator_color_container .generator_color_btns div svg {
  width: 18px;
  height: 18px;
  /** {
    fill: currentColor !important;
    stroke: currentColor !important;
  }*/
}
.generator__palette .generator_color_container .generator_color_btns div:hover {
  background: rgba(0, 0, 0, 0.05);
}

.sub-header {
  display: none;
}

.favoritesSidebar {
  height: 100%;
  background-color: white;
  width: 0;
  transition: width 0.35s ease;
}
.favoritesSidebar[open] {
  width: 18.75rem;
}
.favoritesSidebar__header {
  border: rgba(0, 0, 0, 0.075) solid 1px;
  height: 2.875rem;
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: 0.9rem;
}
.favoritesSidebar__body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
  padding-bottom: 1rem;
  box-sizing: border-box;
  gap: 1rem;
  max-height: calc(100% - 2.875rem);
}
.favoritesSidebar__body__item {
  min-height: 3.5rem;
  display: flex;
  flex-direction: column;
}
.favoritesSidebar__body__item__color {
  display: grid;
  place-items: center;
}
.favoritesSidebar__body__item__color:hover > span {
  display: block;
}
.favoritesSidebar__body__item__color > span {
  display: none;
}
.favoritesSidebar__body__item__color + .favoritesSidebar__body__item__name .favoritesSidebar__body__item__name__icons__generator {
  display: none;
}
.favoritesSidebar__body__item__name {
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
}
.favoritesSidebar__body__item__name__icons {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}
.favoritesSidebar__body__item__name__icons > * {
  transition: 0.3s ease;
  cursor: pointer;
}
.favoritesSidebar__body__item__name__icons__delete:hover {
  color: red;
}
.favoritesSidebar__body__item__color, .favoritesSidebar__body__item__palette {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.favoritesSidebar__body__item__color__obscurer, .favoritesSidebar__body__item__palette__obscurer {
  background-color: black;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.35s opacity ease;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.favoritesSidebar__body__item__color__obscurer:hover, .favoritesSidebar__body__item__palette__obscurer:hover {
  opacity: 0.4;
}
.favoritesSidebar__body__item__palette {
  display: flex;
}
.favoritesSidebar__body__item__palette > * {
  transition: width 1s ease;
  flex: 1;
  display: grid;
  place-items: center;
  padding: 3px;
}
.favoritesSidebar__body__item__palette > *:hover {
  width: max-content;
}
.favoritesSidebar__body__item__palette > *:hover > span {
  display: block;
}
.favoritesSidebar__body__item__palette > * > span {
  display: none;
  font-size: 0.8rem;
}

.transparent {
  opacity: 0;
}

#openFavoritesSidebar {
  transition: transform 0.35s ease;
}
#openFavoritesSidebar[open] {
  transform: rotate(90deg);
}

.saveColor {
  width: 23.75rem;
  height: 25rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.saveColor__header {
  border: rgba(0, 0, 0, 0.075) solid 1px;
  height: 3rem;
  display: grid;
  place-items: center;
  font-weight: 500;
}
.saveColor__content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
}
.saveColor__content__label {
  font-size: 0.8rem;
  margin-top: 1rem;
}
.saveColor__content > input {
  margin-top: 0.5rem;
  height: 3rem;
  width: 100%;
  outline: #d8d8da solid 1px;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column-reverse;
}
.saveColor__content > input:focus {
  outline: #005ce6 solid 1px;
}
.saveColor__content__colorBox {
  margin-top: 0.5rem;
  border: #d8d8da solid 1px;
  height: 3rem;
  border-radius: 1rem;
  display: none;
  align-items: center;
  padding-inline: 1rem;
  box-sizing: border-box;
}
.saveColor__content__colorBox__name::after {
  content: attr(color);
}
.saveColor__content__colorBox__color {
  margin-left: auto;
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 10px;
}
.saveColor__content__save {
  margin: auto;
  margin-top: 1.5rem;
}
.saveColor__content__paletteBox {
  margin-top: 0.5rem;
  border: #d8d8da solid 1px;
  height: 8rem;
  border-radius: 1rem;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}
.saveColor__content__paletteBox__color {
  height: 100%;
  flex: 1;
}

.colorBoxLabel {
  display: none;
}

/*
    <div id="obscurer" active="true">
        <div class="saveColor">
            <div class="saveColor__header"></div>
            <div class="saveColor__content">
                <label for="colorName" class="saveColor__content__label">Name</label>
                <input type="text" placeholder="My new color" id="colorName" onClick="this.select();"
                />
                <div class="saveColor__content__label colorBoxLabel">Color</div>
                <div class="saveColor__content__colorBox">
                    <div class="saveColor__content__colorBox__name" color="#6f6329"></div>
                    <div class="saveColor__content__colorBox__color" color="#6f6329"></div>
                </div>
                <div class="saveColor__content__label paletteBoxLabel">Palette</div>
                <div class="saveColor__content__paletteBox">
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                </div>
                <div class="blue__button__large saveColor__content__save" style="color:white">Save</div>
            </div>
        </div>
    </div>
*/
@media screen and (max-width: 875px) {
  .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    height: 56px;
  }
  .sub-header .btn-generate-mobile {
    display: inline-block;
    position: relative;
    transition: box-shadow 0.1s, color 0.1s, background 0.1s;
    cursor: pointer;
    width: auto;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-align: center;
    white-space: nowrap;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
    color: black;
    background: none;
    background: white;
    box-shadow: inset #d8d8da 0 0 0 1px;
  }
  .sub-header .nav-sub-mobile ul {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  .sub-header .nav-sub-mobile ul li {
    height: 56px;
    display: flex;
    align-items: center;
  }
  .sub-header .nav-sub-mobile ul .divider {
    height: 60%;
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.075);
    display: block;
  }
  .sub-header .nav-sub-mobile ul img {
    width: 18px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
  }
  .nav .nav-hamberger-mobile {
    display: flex;
    align-items: center;
  }
  .nav__logo {
    padding: 0;
    display: flex;
    padding-right: 35%;
  }
  .nav__items {
    display: none;
  }
  .nav--generator {
    display: none;
  }
  .generator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    z-index: 1;
  }
  .generator__palette {
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }
  .generator__palette:hover .generator_color_container {
    opacity: 1;
  }
  .generator__palette:hover:active .generator_color_container {
    opacity: 1;
  }
  .generator__palette .generator_color_container {
    height: auto;
    min-height: auto;
    margin-top: 30px;
    opacity: 1;
  }
  .generator__palette .generator_color_container .generator_color_btns {
    height: auto;
    min-height: auto;
    display: flex;
    flex-direction: row;
  }
  .generator__palette .generator_color_container .generator_color_btns .generator_color_remove-btn,
  .generator__palette .generator_color_container .generator_color_btns .generator_color_contrast-btn,
  .generator__palette .generator_color_container .generator_color_btns .generator_color_shades-btn,
  .generator__palette .generator_color_container .generator_color_btns .generator_color_save-btn {
    display: none;
  }
  .generator__palette .generator_color_container .generator_color_btns .generator_color_drag-btn {
    transform: rotate(90deg);
  }
  .generator .favoritesSidebar {
    display: none;
  }
  .generator .generator__palette__addBar {
    display: none;
  }
  .generator .generator_color_multicompare {
    display: none;
  }
  .generator .generator_color_color-info {
    display: none;
  }
  .generator:hover .generator_color_multicompare {
    display: none;
  }
  .generator:hover .generator__palette__addBar {
    display: none;
  }
  .generator__palette {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .generator__palette:hover {
    display: flex;
    justify-content: space-around;
  }
  .generator__palette:hover .generator_color_container {
    height: auto;
  }
  .generator__palette:hover .generator__palette__addBar {
    display: none;
  }
  .generator__palette:hover .generator_color_multicompare {
    display: none;
  }
  .generator__palette:hover .generator_color_color-info {
    display: none;
  }
  .generator__palette .generator_color_hex {
    cursor: pointer;
    color: inherit;
    font-family: "Inter", sans-serif;
    font-variation-settings: "wght" 600;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    transform: translate3d(0, 50%, 0) scale(1);
    transition: background 0.1s;
    font-size: 16px;
    z-index: 1;
    transform-origin: 50% 100%;
    letter-spacing: 0.03em;
    white-space: nowrap;
    padding: 10px;
    border-radius: 10px;
  }
}
.generator_color_lock-btn {
  transition: transform 0.35s linear;
}

.generator_color_lock-btn[locked=true] {
  transform: scale(1.2);
}

.generator_color_lock-btn {
  transition: transform 0.35s linear;
}

.generator_color_lock-btn[locked=true] {
  transform: scale(1.2);
}

.tippy-box[data-theme~=white] {
  color: black;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15), 0 4px 80px -8px rgba(36, 40, 47, 0.25), 0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: white;
}
.tippy-box[data-theme~=white][data-placement^=top] > .tippy-arrow:before {
  border-top-color: white;
}
.tippy-box[data-theme~=white][data-placement^=bottom] > .tippy-arrow:before {
  border-bottom-color: white;
}
.tippy-box[data-theme~=white][data-placement^=left] > .tippy-arrow:before {
  border-left-color: white;
}
.tippy-box[data-theme~=white][data-placement^=right] > .tippy-arrow:before {
  border-right-color: white;
}
.tippy-box[data-theme~=white] > .tippy-backdrop {
  background-color: white;
}
.tippy-box[data-theme~=white] > .tippy-svg-arrow {
  fill: white;
}

@keyframes colorRotate {
  from {
    color: #0067fb;
  }
  33% {
    color: #10d100;
  }
  66% {
    color: #ff003d;
  }
  100% {
    color: #0067fb;
  }
}
@keyframes colorRotateSvg {
  from {
    fill: #0067fb;
  }
  33% {
    fill: #10d100;
  }
  66% {
    fill: #ff003d;
  }
  100% {
    fill: #0067fb;
  }
}
@keyframes homepage_hero_palettes {
  from {
    y: -30px;
  }
  to {
    y: -1541px;
  }
}
body {
  overflow-x: hidden;
}
body main .hero__container__home {
  display: inline-grid;
  grid-template-columns: 35% 55%;
  width: 100%;
  color: black;
  font-family: "Inter", sans-serif;
  padding: 100px 42px;
  overflow-x: hidden;
}
body main .hero__container__home #homepage_hero_image {
  display: none;
}
body main .hero__container__home a {
  text-decoration: none;
  color: black;
}
body main .hero__container__home .hero__container__home__left {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  padding-top: 50px;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__text {
  justify-self: center;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__text h1 {
  max-width: 500px;
  font-weight: 900;
  font-size: 70px;
  line-height: 1.1em;
  letter-spacing: -0.045em;
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__text h1 span {
  display: inline;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__text p {
  max-width: 400px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.563rem;
  color: rgb(70, 72, 83);
  text-align: center;
  margin: 0 48px;
  margin-bottom: 35px;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__buttons {
  margin: 0 auto;
  width: 260px;
  padding: 0 24px;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__buttons .blue__button__large {
  text-align: center;
  margin-bottom: 14px;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__buttons .blue__button__large a {
  border-radius: 10px;
  height: 46px;
  line-height: 46px;
  padding: 0 21px;
  text-decoration: none;
  color: #ffffff;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__buttons .blue__button__large:hover {
  background-color: #005ce6;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__buttons .button__large {
  text-align: center;
  margin-bottom: 34px;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__buttons .button__large a {
  text-decoration: none;
  color: #000000;
  align-items: center;
  border-radius: 10px;
  height: 46px;
  line-height: 46px;
  padding: 0 21px;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__buttons .button__large:hover {
  box-shadow: #b1b0b5 0 0 0 1px;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__textparty {
  display: flex;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 0.938rem;
  animation: colorRotate 5s linear 0s infinite;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
  margin-right: 0.5rem;
}
body main .hero__container__home .hero__container__home__left .hero__container__home__left__textparty svg {
  animation: colorRotateSvg 5s linear 0s infinite;
}
body main .hero__container__home .hero__container__home__right {
  overflow-x: hidden;
  min-width: 120%;
  padding-top: 50px;
  padding-left: 50px;
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generator-laptop * {
  transition: all 0.1s ease;
}
body main .hero__container__home .hero__container__home__right svg:hover {
  cursor: pointer;
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-palettes {
  overflow: hidden;
  animation: homepage_hero_palettes 30s linear infinite;
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn:hover #homepage_hero-generate-btn-text,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn:hover #homepage_hero-generate-btn-text {
  transform: scale(1.2);
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn:hover #homepage_hero-generate-btn-arrow,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn:hover #homepage_hero-generate-btn-arrow {
  transform: rotate(15deg);
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn:hover #homepage_hero-explore-btn-text,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn:hover #homepage_hero-explore-btn-text {
  transform: scale(1.2);
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn:hover #homepage_hero-explore-btn-arrow,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn:hover #homepage_hero-explore-btn-arrow {
  transform: rotate(-15deg);
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn #homepage_hero-generate-btn-text,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn #homepage_hero-generate-btn-text {
  transform-origin: 110px 184px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn #homepage_hero-generate-btn-arrow,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn #homepage_hero-generate-btn-arrow {
  transform-origin: 172px 214px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn #homepage_hero-explore-btn-text,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn #homepage_hero-explore-btn-text {
  transform-origin: 198px 75px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body main .hero__container__home .hero__container__home__right svg #homepage_hero-generate-btn #homepage_hero-explore-btn-arrow,
body main .hero__container__home .hero__container__home__right svg #homepage_hero-explore-btn #homepage_hero-explore-btn-arrow {
  transform-origin: 248px 88px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 875px) {
  body main .hero__container__home {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
  }
  body main .hero__container__home .hero__container__home__right {
    display: none;
  }
  body main .hero__container__home #homepage_hero_image {
    display: inline;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

#obscurer {
  display: none;
}

#obscurer[active=true] {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 21, 24, 0.45);
  position: absolute;
  z-index: 200000;
}

.badge {
  text-transform: uppercase;
  font-variation-settings: "wght" 700;
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 4px;
  display: inline-flex;
  letter-spacing: 0.05em;
  vertical-align: middle;
  line-height: 1em;
  white-space: nowrap;
  text-decoration: none;
  margin-left: 10px;
}
.badge--orange {
  background-color: #fff2e7;
  color: #cc660a;
}
.badge--pink {
  background-color: #ffe5f4;
  color: #cc0078;
}
.badge--violet {
  background-color: #e8e2f7;
  color: #722ac5;
}

/*# sourceMappingURL=components.css.map */
