@use "sass:color";

$theme-color: #0066ff;
$theme-color-grey: #f7f7f8;
$pastel-color-green: #d5f8ef;
$pastel-color-blue: #d8f6ff;
$pastel-color-pink: #ffe5f4;
$pastel-color-violet: #e8e2f7;
$pastel-color-yellow: #FDF3CE;
$color-blue: #00AEE5;
$color-green: #14B789;
$color-pink: #E50087;
$color-violet: #802FDE;
$color-yellow: #DAAB00;
$white-button: #ffffff;
$black-text: #000000;
$button-hover: #005ce6;
$border-button: #d8d8da;
$border-button-hover: #b1b0b5;




body {
  background-color: #72ddf7;
  padding: 1rem;
  main {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: auto auto auto;
    gap: 2rem;

    .design__card {
      background-color: #ffffff;
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-columns: auto;
      row-gap: 1rem;
      h2 {
        font-size: 1.5rem;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-color: #72ddf7;
      }
      p {
        font-size: 0.8rem;
        text-transform: uppercase;
      }
      h3 {
        font-size: 0.8rem;
      }
/*
<div><span>Titles: </span><span class="title" onclick="copyText(JSON.stringify(this.style))">Lorem, ipsum dolor.</span></div>
<div><span>Paragraphs: </span><span class="paragraphs">Lorem, ipsum dolor.</span></div>
<div><span>Subheadings: </span><span class="subheadings">Lorem, ipsum dolor.</span></div>
<div><span>Call To Actions: </span><span class="ctas">Lorem, ipsum dolor.</span></div>
*/
      &--thypography{

        &>div{
          display: flex;
          &>span:first-child{
            width: 10rem;
            font-weight: 600;
          }
          &>span{
            display: flex;
            align-items: center;
          }
        }

        .title{
          font-weight: 700; font-size: 3.125rem; line-height: 3.438rem;
        }
        .paragraphs{
          font-weight: 400; font-size: 1.125rem; line-height: 1.563rem; color: rgb(70, 72, 83);
        }

        .subheadings{
          font-weight: 700; font-size: 1.5rem; line-height: 1.5rem;
        }
        .ctas{
          font-weight: 800; font-size: 1.875rem; line-height: 2.625rem;
        }



      }








      &__colors {
        display: grid; 
        grid-template-columns: 80%;
        justify-content: start;      

        &__color {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto;
          gap: 0.5rem;
          p {
            color: white;
            font-size: 0.6rem;
            font-weight: 600;
          }
          &--1 {
            width: 5rem;
            height: 2.5rem;
            background-color: $theme-color;            
          }
          &--2 {
            width: 5rem;
            height: 2.5rem;
            background-color: #000000;
            
          }
          &--3 {
            width: 5rem;
            height: 2.5rem;
            background-color: $theme-color-grey;
            p {
                color: #000000;
              }
          }         
          }

        &__secondary {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 0.5rem;
            p {                
                font-size: 0.6rem;
                font-weight: 600;
                }
            &--1 {
              width: 5rem;
              height: 2.5rem;
              background-color: $pastel-color-blue;   
              p {
                color: $color-blue;                  
                }          
               }
            &--2 {
              width: 5rem;
              height: 2.5rem;
              background-color: $pastel-color-green;    
              p {
                color: $color-green;                  
                }          
             }
            &--3 {
                width: 5rem;
                height: 2.5rem;
                background-color: $pastel-color-pink; 
                p {
                    color: $color-pink;                  
                    }               
              }
            &--4 {
                width: 5rem;
                height: 2.5rem;
                background-color: $pastel-color-violet;   
                p {
                    color: $color-violet;                  
                    }             
              }
            &--5 {
                width: 5rem;
                height: 2.5rem;
                background-color: $pastel-color-yellow;  
                p {
                    color: $color-yellow;                  
                    }             
              }
            }
        }
      }

    .container__buttons{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      width: 35rem;
      padding: 1rem 3rem 1rem 3rem;
      .blue__button__small, .blue__button__large, .button__small, .button__large{
        display: flex;
        align-items: center;
        justify-content: center;
        height:2.25rem;
        border-radius: 0.5rem;
        cursor: pointer;
      }      
      .blue__button__small, .blue__button__large{
        background-color: $theme-color;
         a{
          text-decoration: none;
          color: $white-button;
         }
        &:hover{
          background-color: $button-hover;
          //transition: 0.5s;
        }
      }
  
      .button__small, .button__large{
        border: 0.06rem solid $theme-color-grey;
        background-color: $white-button;
        box-sizing: border-box;
        box-shadow: $border-button 0 0 0 1px;
        a{
          text-decoration: none;
          color: $black-text
        }
        &:hover{
          //transition: 0.5s;
          box-shadow: $border-button-hover 0 0 0 1px;
        }
      }
  
      .blue__button__large, .button__large{
        width: 16rem;
      }
      
      .blue__button__small, .button__small{
        width: 4rem;
      }
    } 
  }
}

