.blue__button__small,
.blue__button__large,
.button__small,
.button__large {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.blue__button__small,
.blue__button__large {
  background-color: #0066ff;
}
.blue__button__small a,
.blue__button__large a {
  text-decoration: none;
  color: #ffffff;
}
.blue__button__small:hover,
.blue__button__large:hover {
  background-color: #005ce6;
}

.button__small,
.button__large {
  border: 0.06rem solid #f7f7f8;
  background-color: #ffffff;
  box-shadow: #d8d8da 0 0 0 1px;
}
.button__small a,
.button__large a {
  text-decoration: none;
  color: #000000;
}
.button__small:hover,
.button__large:hover {
  box-shadow: #b1b0b5 0 0 0 1px;
}

.blue__button__large,
.button__large {
  width: 15rem;
  height: 2.8rem;
}

.blue__button__small,
.button__small {
  width: 4rem;
  padding: 0rem 0.55rem;
}