.generator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: calc(100vh - 120px);
  overflow: hidden;
}
.generator__palette {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
  gap: 2rem;
}
.generator__palette:hover {
  justify-content: space-between;
}
.generator__palette:hover .generator_color_container {
  display: flex;
  height: 100vh;
  align-items: flex-end;
}
.generator__palette:hover .generator_color_container .generator_color_btns {
  display: flex;
}
.generator__palette .generator_color_multicompare {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner {
  height: 100%;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch {
  width: 100%;
  line-height: 1;
  min-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.generator__palette .generator_color_multicompare .generator_color_multicompare_inner .swatch .dot {
  width: 18px;
}
.generator__palette .generator_color {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.generator__palette .generator_color_hex {
  color: #000000;
  font-size: 30px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  white-space: nowrap;
  transform: scaleY(0.8) scaleX(0.8);
}
.generator__palette .generator_color_hex:hover {
  display: flex;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.1s;
  max-height: 40px;
  border-radius: 10px;
  padding-inline: 12px;
  background: rgba(0, 0, 0, 0.05);
}
.generator__palette .generator_color_color-info {
  color: #000000;
  opacity: 0.6;
  font-size: 11.2px;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  letter-spacing: 0.04em;
  line-height: 14px;
  font-weight: 600;
  cursor: pointer;
}
.generator__palette .generator_color_container .generator_color_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  min-height: 200px;
  width: 40px;
  flex-direction: column;
  display: none;
}
.generator__palette .generator_color_container .generator_color_btns div {
  display: flex;
  flex-grow: 1;
  cursor: pointer;
  transition: transform 0.15s ease, background 0.1s;
  max-height: 40px;
  border-radius: 10px;
  max-height: 30px;
  max-width: 40px;
  padding: 10px 12px;
}
.generator__palette .generator_color_container .generator_color_btns div img {
  width: 18px;
}
.generator__palette .generator_color_container .generator_color_btns div:hover {
  background: rgba(0, 0, 0, 0.05);
}