@use "variables" as v;

.generator {
  display: flex;
  
  height: calc(100vh - 120px);
  overflow: hidden;

  &__palette {
    flex: 1;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 80px;
    gap: 2rem;
    justify-content: space-between;

    &[hidden="true"] > *{
      display: none;
      & > *{
        display: none;
      }
    }

    &:hover[hidden="true"] {
      &>*:not(.generator_color_multicompare){
        display: none !important;
      }
    }
  

    

    
    &__addBar {
      background-color: transparent;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 3.125rem;
      color: black;
      z-index: 1;
      &--right {
        right: 0;
        & > .generator__palette__addBar__addButton{
          right: -50%;
          transform: translate(10%, -50%);
        }
      }
      &--left {
        left: 0;
         & > .generator__palette__addBar__addButton{
          left: -50%;
          transform: translate(10%, -50%);
         }
      }

      &:hover{
        & > .generator__palette__addBar__addButton{
          display: grid;
        }
      }

      &__addButton{
        display: none;
        height: 2.625rem;
        width: 2.625rem;
        background-color: white;
        border-radius: 50%;
        
        place-items: center;
        position: relative;
        top: 50%;
        
        & > span{
          font-size: 2rem;
          font-weight: 100;
          display: block;
          height: 70%;
          width: 70%;
          text-align: center;
          line-height: 70%;
          border-radius: 50%;
          
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    &:hover {
      justify-content: space-between;
      .generator_color_container {
        display: flex;
        height: 100vh;
        align-items: flex-end;
        .generator_color_btns {
          display: flex;
        }
      }
    }
    .generator_color_multicompare {
      display: none;      
      flex-direction: column;
      text-align: center;
      width: 100%;
      height: 100vh;
      z-index: 2;
      .generator_color_multicompare_inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
        .swatch {
          width: 100%;
          line-height: 1;
          min-height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;                              
        }
      }
    }
    .generator_color {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_hex {
        //color: #000000;
        font-size: 30px;
        padding: 10px;
        font-weight: 500;
        cursor: pointer;
        font-family: "Inter", sans-serif;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        white-space: nowrap;
        transform: scaleY(0.8) scaleX(0.8);
        &:hover {
          display: flex;
          cursor: pointer;
          transition: transform 0.15s ease, background 0.1s;
          max-height: 40px;
          border-radius: 10px;
          padding-inline: 12px;
          background: rgba(0, 0, 0, 0.05);
        }
      }
      &_color-info {
        //color: #000000;
        opacity: 0.6;
        font-size: 11.2px;
        width: 100%;
        text-align: center;
        padding: 0 10px;
        letter-spacing: 0.04em;
        line-height: 14px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    .generator_color_container {
      .generator_color_btns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        min-height: 200px;
        width: 40px;
        flex-direction: column;
        display: none;

        div {
          display: flex;
          flex-grow: 1;
          cursor: pointer;
          transition: transform 0.15s ease, background 0.1s;
          max-height: 40px;
          border-radius: 10px;
          max-height: 30px;
          max-width: 40px;
          padding: 10px 12px;

          svg {
            width: 18px;
            height: 18px;
            /** {
              fill: currentColor !important;
              stroke: currentColor !important;
            }*/
          }
          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}

.favoritesSidebar{
  
  height: 100%;
  background-color: white;
  width: 0;
  transition: width .35s ease;

  &[open]{
    width: 18.75rem;
  }

  &__header{
    border: rgba(0, 0, 0, 0.075) solid 1px;
    height: 2.875rem;
    display: grid;
    place-items: center;
    font-weight: 500;
    font-size: .9rem;
  }

  &__body{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    
    padding-inline: 5%;
    gap: 1rem;
    max-height: 100%;
    &__item{
      min-height: 10rem;
      display: flex;
      flex-direction: column;
      
      &__color, &__palette{
        margin-top: 5px;
        flex: 1;
        border-radius: 1rem;
        overflow: hidden;
      }
      &__palette{
        display: flex;
        & > *{
          flex: 1;
        }
      }
    }
  }

}

#openFavoritesSidebar{
  transition: transform .35s ease;
  &[open]{
    transform: rotate(90deg);
  }
}

.saveColor{
  width: 23.75rem;
  //height: 20rem;
  height: 25rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;


  &__header{
    border: rgba(0, 0, 0, 0.075) solid 1px;
    height: 3rem;
    
    display: grid;
    place-items: center;

    font-weight: 500;
  };

  &__content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: auto;


    &__label{
      font-size: .8rem;
      margin-top: 1rem;
    }

    & > input{
      margin-top: .5rem;
      height: 3rem;
      width: 100%;
      outline: v.$border-button solid 1px;
      border: none;
      border-radius: 1rem;
      padding: 1rem;
      box-sizing: border-box;
      font-size: .9rem;
      display: flex;
      flex-direction: column-reverse;

      &:focus{
        outline: v.$button-hover solid 1px;
      }
    }

    &__colorBox{
      margin-top: .5rem;
      border: v.$border-button solid 1px;
      height: 3rem;
      border-radius: 1rem;
      display: none;
      align-items: center;
      padding-inline: 1rem;
      box-sizing: border-box;

      &__name{
        &::after{
          content: attr(color);
        }
      }

      &__color{
        margin-left: auto;
        height: 70%;
        aspect-ratio: 1/1;
        border-radius: 10px;
        //background-color: #6f6329;
      }
    }

    &__save{
      margin: auto;
      margin-top: 1.5rem;


    }

    &__paletteBox{
      margin-top: .5rem;
      border: v.$border-button solid 1px;
      height: 8rem;
      border-radius: 1rem;
      align-items: center;

      box-sizing: border-box;

      display: flex;

      overflow: hidden;

      &__color{
        height: 100%;
        flex: 1;
      }
    }


  }

  

}

.colorBoxLabel{
  display: none;
}


/*
    <div id="obscurer" active="true">
        <div class="saveColor">
            <div class="saveColor__header"></div>
            <div class="saveColor__content">
                <label for="colorName" class="saveColor__content__label">Name</label>
                <input type="text" placeholder="My new color" id="colorName" onClick="this.select();"
                />
                <div class="saveColor__content__label colorBoxLabel">Color</div>
                <div class="saveColor__content__colorBox">
                    <div class="saveColor__content__colorBox__name" color="#6f6329"></div>
                    <div class="saveColor__content__colorBox__color" color="#6f6329"></div>
                </div>
                <div class="saveColor__content__label paletteBoxLabel">Palette</div>
                <div class="saveColor__content__paletteBox">
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                    <div class="saveColor__content__paletteBox__color">
                        <div class="saveColor__content__paletteBox__color__color"></div>
                        <div class="saveColor__content__paletteBox__color__name" color="#551fbb"></div>
                    </div>
                </div>
                <div class="blue__button__large saveColor__content__save" style="color:white">Save</div>
            </div>
        </div>
    </div>
*/