
$backgroundColor1: #ffffff;
$theme-color: #0066ff;
$theme-color-grey: #f7f7f8;
$pastel-color-green: #d5f8ef;
$pastel-green: #E9FCF6;
$pastel-color-blue: #d8f6ff;
$pastel-blue: #F2F7FF;
$pastel-color-pink: #ffe5f4;
$pastel-pink: #FFF2F9;
$pastel-color-violet: #e8e2f7;
$pastel-violet: #f7f0fe;
$pastel-color-yellow: #fdf3ce;
$pastel-yellow: #FEF9E6;
$color-blue: #00aee5;
$color-blue2 : #0066ff;
$color-green: #14b789;
$color-pink: #e50087;
$color-violet: #802fde;
$color-yellow: #daab00;
$white-button: #ffffff;
$black-text: #000000;
$button-hover: #005ce6;
$border-button: #b1b0b5;
$border-button: #d8d8da;
$border-button-hover: #b1b0b5;
$separator: rgba(0, 0, 0, 0.075);



$ctaCardBackgroundColor: $theme-color-grey;
$footerBackgroundColor: $theme-color-grey;
$footerTextColorHover: $theme-color;
$footerCreatorTextColor: #636369;
$goProColor: #FF0099;
$navBackgroundItemHover: #f2f2f3

